#inputrow {
    text-align: center;
}

body {
	background-color: beige ;
}

#mathprompt {
    font-size: 40px;
    color: darkblue;
    text-align: center;
}

#response {
    text-align: center;
    font-size: 40px;
}